# ==============================
# Frontend
# ==============================
node_modules/
dist/
.env
.env.local

# ==============================
# Backend
# ==============================
ai-recruitment-portal/target/
ai-recruitment-portal/uploads/

# ==============================
# IDE
# ==============================
.vscode/
.idea/
*.iml

# ==============================
# Java / Maven
# ==============================
*.class